.status-badge-container{
    display: none;
    flex-direction: column;
    width: 192px;
    height: 128px;
    position: absolute;
    z-index: 2;
    border-radius: 8px;
    background-color: var(--white-color);
    top:140px;
    right: 515px;
    box-shadow: 2px 1.5px 0px 0px #999999;
    padding: 20px ;
    gap: 20px;


}

.status-individual-badge{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--black-color);

}

#check-box-style{
    accent-color: var(--secondary-purple-color);
    width: 16px;
    height: 16px;
  
}

#check-box-text{
    font-size: 15px;
}